:root {
    --primary-color: #46c098;
    --primary-color-hover: #3da885;
    --button-text-color: #ffffff;
    --button-select-color: #ffffff;
    --active-filters: #46c0975a;
    --background-box: #ffffff;
}

#accountNav {
    grid-template-rows: 7vh 6vh;
    display: grid;
    background-color: #90A5EC;
    text-align: left;
    padding: 1rem;
    padding-top: 5rem;
}

#accountNav h2 {
    color: var(--button-text-color);
    padding: 0 2rem;
}

#accountNav div {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    padding: 0 1rem;
}

#accountNav div button {
    width: auto;
    height: auto;
    padding: 0.7rem 1.5rem;
    text-decoration: inherit;
    color: var(--button-text-color);
    background-color: #90A5EC;
    border-style: none;
}

#accountNav div button.active-button {
    color: var(--text-color);
    background-color: var(--button-select-color);
    border-radius: 2rem;
}

#myInfo {
    display: grid;
    grid-template-columns: 50% 50%;
}

#myInfo #profileImg {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    align-self: start;
    width: 25vw;
    height: auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: #b8b8b8 4px 4px 10px;
}

#myInfo fieldset {
    position: relative;
    border-style: none;
    background-color: var(--background-box);
    border-radius: 1rem;
    padding: 1rem;
    width: 45vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    align-self: start;
}

#myInfo #onlyView form {
    position: relative;
    display: inline-block;
    top: 2rem;
    border-style: none;
    width: 45vw;
}

#myInfo #canEdit form {
    position: relative;
    display: inline-block;
    top: 4rem;
    border-style: none;
    width: 20vw;
}

#myInfo fieldset label {
    font-size: 1.4rem;
    font-weight: bold;
}

#myInfo #canEdit label {
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
}

#myInfo form textarea {
    display: inline-block;
    border-radius: 0.5rem;
    border-style: none;
    width: 35vw;
    height: 8vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#myInfo input[disabled] {
    color: var(--text-color);
    border: none;
    background-color: transparent;
    font: inherit;
}

#myInfo input {
    position: relative;
    width: min-content;
    margin-top: 0.8rem;
    border-radius: 0.6em;
    font-size: 1rem;
    border: 1px solid #ccc;
    background-color: #e3e3e3;
    color: #000000;
}

#myInfo input[type=submit] {
    width: auto;
    height: auto;
    text-decoration: inherit;
    color: var(--text-color);
    background-color: var(--button-select-color);
    border-radius: .5rem;
    padding: .5rem;
    border-style: none;
    box-shadow: #000000 1px 1px 3px;
}

#editProfile {
    position: relative;
    top: -2rem;
    right: -22rem;
}

#onlyView {
    display: block;
}

.toggle-section {
    display: none;
    /* All hidden by default */
}

.toggleEdit {
    display: none;
}

#editProfileBtn {
    position: absolute;
    margin-right: 1rem;
    right: 0;
    color: var(--text-color);
    background-color: white;
    border: 2px solid var(--text-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#recentlyViewed {
    justify-content: left;
    align-items: start;
    padding-left: 2rem;
}

.recently-viewed,
.favorites-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
}

.pet-card, .favorite {
    border: 1px solid #ccc;
    width: 15.4rem;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #f9f9f9;
}

.pet-card {
    height: 25rem;
}

.favorite {
    height: 20rem;
}

.pet-card img, .favorite img {
    width: 15rem;
    height: 15rem;
    border-radius: 6px;
    object-fit: cover;
}

.pet-card p, .favorite p {
    color: var(--text-color);
    font-size: 1rem;
}

.pet-card h3, .favorite h3 {
    color: var(--text-color);
}

.no-photo {
    width: 100%;
    height: 150px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
}