@import url(style.css);

body{
    --whiteSpace:clamp(1em, 4vw, 1.5em);
}

h2 {
    font-weight: bold;
}

.petList{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:1em;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:1em;
}

li {
    background-color: #fff;
    padding:calc(var(--whiteSpace) / 2);
    grid-column-gap:calc(var(--whiteSpace) / 4);
    border-radius:calc(var(--whiteSpace) / 2);
}
  
li h2 {
    margin:0;
    font-size:1em;
    color: var(--primary-color);
}
  
li p {
    margin:0;
}