#loginPage, #registerPage, #passwordPage{
    display: grid;
    background-color: rgb(205, 205, 205);
    text-align: center;
}

#loginPage, #passwordPage{
    grid-template-columns: 15vw 15vw 10vw 20vw 10vw 15vw 15vw;
    grid-template-rows: 10vh 10vh 5vh 40vh 5vh 10vh 10vh;
}

#registerPage{
    grid-template-columns: 15vw 15vw 10vw 20vw 10vw 15vw 15vw;
    grid-template-rows: 10vh 10vh 5vh 45vh 5vh 5vh 10vh;
}

#loginPage form, #registerPage form, #passwordPage form{
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    grid-column: 4/5;
    grid-row: 4/6;
}

#loginPage h1:first-of-type, #registerPage h1:first-of-type, #passwordPage h1:first-of-type{
    grid-column: 4/5;
    grid-row: 2/3;
}
 
#loginPage h1:first-of-type, #registerPage h1:first-of-type{
    padding: 0.6em;
}

#loginPage a:first-of-type, #registerPage a:first-of-type, #passwordPage a:first-of-type{
    grid-column: 4/5;
    grid-row: 5/6;
}

#loginPage a:first-of-type, #registerPage a:first-of-type, #passwordPage a:first-of-type{
    padding: 1em;
}

#loginPage a:nth-of-type(2){
    margin: 0.5em;
    grid-column: 4/5;
    grid-row: 6/7;
}

#loginPage hr{
    margin: 2.4em;
    grid-column: 4;
    grid-row: 5;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

#loginPage input, #registerPage input, #passwordPage input {
    margin: 1em;
    width: 80%;
    height: 4vh;
    border-radius: 0.4em;
    border-width: 0.6px;
    border-color: rgb(163, 163, 163);
}

#loginPage input[type=submit], #registerPage input[type=submit], #passwordPage input[type=submit] {
    border: none;
    background-color: rgb(0, 179, 255);
    width: 80%;
}

#loginPage button[name=backButton], #registerPage button[name=backButton], #passwordPage button[name=backButton] {
    margin: auto;
    background-color: rgb(236, 236, 236);
    border-radius: 0.6em;
    border: none;
    width: 80%;
    height: 60%;
}