@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

:root {
  --primary-color: #4177BE;
  --primary-color-hover: rgb(46, 73, 169);
  --primary-color-2: #C74F0A;
  --primary-color-hover-2: #c05c23;
  --background-color: #f2f2f2;
  --footer-header-background: #fff;
  --footer-border: #d3d3d3;
  --active-filters: #46c0975a;

  --font-color: #0d3149;
  --font-color-white: #ffffff;
  --footer-text: #8E8E8E;
}

body {
  font-family: 'Montserrat';
  color: var(--font-color);
  background-color: var(--primary-color);
  margin: 0;
}

header {
  margin-top: 1em;
  position: sticky;
  max-width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul:nth-of-type(1) {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav {
  position: relative;
  background-color: none;
  translate: 0;
  transition: 0.5s;
}

header nav.open {
  translate: 0;
}

header img {
  width: 25px;
  height: 25px;
}

header button {
  display: none;
  position: relative;
  z-index: 2;
  background-color: var(--background-color);
  border: none;
}

header nav ul {
  padding: 0;
}

header nav li {
  list-style: none;
  margin-left: 1em;
  padding: 1em;
}

.navbar {
  background-color: var(--footer-header-background);
  padding: 0.5em;
  border-radius: 5px;
}

header nav ul:nth-of-type(1) {
  flex-direction: unset;
  align-items: center;
  justify-content: space-between;
}

header a { 
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
}

header a:hover {
  color: var(--primary-color-hover-2);
}

header a:active {
  color: var(--primary-color-2);
  font-weight: 700;
  border-bottom: solid 3px var(--primary-color-2);
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.logo svg { 
  width: 35px; 
  height: 35px; 
  margin-right: 0.5rem; 
  fill: var(--primary-color-2);
}

.logo p {
  text-align: left;
  margin: 0;
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.logo p:hover {
  color: var(--primary-color-2);

}

/* Footer Styling */

footer {
  border-top: 1px solid var(--footer-border);
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: var(--footer-header-background);
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 80%;
  margin-inline: auto;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  margin-top: 0.5em;
}

footer ul li a {
  color: var(--footer-text);
  margin-top: 0.5em;
  text-decoration: none;
}

footer ul li a:hover {
  color: var(--font-color);
}

footer ul li:nth-of-type(1) a {
  color: var(--text-color);
  font-weight: 600;
}

footer ul li:nth-of-type(1) a:hover {
  color: var(--primary-color-2);
}

@media (max-width: 800px) {
  header {
    padding-right: 0;
    padding-left: 0;
    display: block;
  }

  header nav {
    position: fixed;
    inset: 0;
    background-color: var(--footer-header-background);
    z-index: 1;
    translate: -100%;
    transition: 0.5s;
  }

  header nav ul:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  header button {
    display: block;
  }

  footer {
    padding: 2rem;
    text-align: center;
  }

  footer .container{
    grid-template-columns: 1fr;
  }

  footer ul {
    margin-bottom: 1em;
  }

  .logo {
    justify-content: center;
  }
}