<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/faveStyling.css">
    <title>PetMatch| Favourites</title>
</head>
<body>
    <header>
        <h1>PetMatch</h1>
        <nav>
          <a href="/">Home</a>
          <a href="/browse">Browse</a>
          <a href="/login">Login</a>
          <a href="/register">Register</a>
          <a href="/profile" class="active">Profile</a>
        </nav>
    </header>

    <main>
        <!-- Search -->
        <div id="petList">
            <aside>
                <input type="search" class="search" placeholder="What are you searching for?">
            </aside>
            <ul class="list">
                <% pets.forEach(pet => { %>
                  <li>
                    <h2 class="name"><%= pet.name %></h2>
                    <p class="type"><%= pet.type %></p>
                  </li>
                <% }) %>
            </ul>
                <!-- <ul class="list">
                    <li> 
                        <h2 class="name">Ollie</h2>
                        <p class="type">Cat</p>
                    </li>
                    <li>
                        <h2 class="name">Bobby</h2>
                        <p class="type">Dog</p>
                    </li>
                    <li>
                        <h2 class="name">Oscar</h2>
                        <p class="type">Cat</p>
                    </li>
                    <li>
                        <h2 class="name">Pip</h2>
                        <p class="type">Rabbit</p>
                    </li>
                    <li>
                        <h2 class="name">Teddy</h2>
                        <p class="type">Dog</p>
                    </li>
                    <li>
                        <h2 class="name">Billy</h2>
                        <p class="type">Dog</p>
                    </li>
                    <li>
                        <h2 class="name">Spike</h2>
                        <p class="type">Dog</p>
                    </li>
                    <li>
                        <h2 class="name">Puck</h2>
                        <p class="type">Cat</p>
                    </li> 
                </ul> -->
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script src="/static/scripts/fave.js"></script>
</body>
</html>