<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
    <title>FetchFinder</title>
</head>
<body>
    <header>
    <h1>PetThing</h1>
    <nav>
      <a href="/" class="active">Home</a>
      <a href="/browse">Browse</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </nav>
  </header>
  <main>
    <p>
        <%= userID %>
    </p>
  </main>
    <footer>
      <ul>
        <li></li>
        <li>logo</li>
      </ul>
      <ul>
        <li>Pets</li>
        <li>Dogs</li>
        <li>Cats</li>
        <li>Rabbits</li>
      </ul>
      <ul>
        <li>Account</li>
        <li>Login</li>
        <li>Register</li>
        <li>Forgot your password</li>
      </ul>
      <ul>
        <li>Contact</li>
        <li>Street 123</li>
        <li>Postcode</li>
        <li>Stad</li>
      </ul>
    </footer>

</body>
</html>