<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">

  <link rel="stylesheet" href="/static/css/indexStyling.css">
    <title>FetchFinder</title>

</head>
<body>

  <header class="navbar">
    <ul>
    <li>      <div class="logo">
          <svg height="100px" width="100px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
     viewBox="0 0 48.839 48.839" xml:space="preserve">
  <g>
    <path fill="var(--primary-color-2)" d="M39.041,36.843c2.054,3.234,3.022,4.951,3.022,6.742c0,3.537-2.627,5.252-6.166,5.252
      c-1.56,0-2.567-0.002-5.112-1.326c0,0-1.649-1.509-5.508-1.354c-3.895-0.154-5.545,1.373-5.545,1.373
      c-2.545,1.323-3.516,1.309-5.074,1.309c-3.539,0-6.168-1.713-6.168-5.252c0-1.791,0.971-3.506,3.024-6.742
      c0,0,3.881-6.445,7.244-9.477c2.43-2.188,5.973-2.18,5.973-2.18h1.093v-0.001c0,0,3.698-0.009,5.976,2.181
      C35.059,30.51,39.041,36.844,39.041,36.843z M16.631,20.878c3.7,0,6.699-4.674,6.699-10.439S20.331,0,16.631,0
      S9.932,4.674,9.932,10.439S12.931,20.878,16.631,20.878z M10.211,30.988c2.727-1.259,3.349-5.723,1.388-9.971
      s-5.761-6.672-8.488-5.414s-3.348,5.723-1.388,9.971C3.684,29.822,7.484,32.245,10.211,30.988z M32.206,20.878
      c3.7,0,6.7-4.674,6.7-10.439S35.906,0,32.206,0s-6.699,4.674-6.699,10.439C25.507,16.204,28.506,20.878,32.206,20.878z
       M45.727,15.602c-2.728-1.259-6.527,1.165-8.488,5.414s-1.339,8.713,1.389,9.972c2.728,1.258,6.527-1.166,8.488-5.414
      S48.455,16.861,45.727,15.602z"/>
  </g>
  </svg>
          <p>PetMatch</p>
        </div> </li>
  <li><button><img src="/static/images/dropdown-button.svg"></button></li>
          </ul>
      <!-- <nav>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/browse">Browse</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
      </nav> -->
      <nav>
        <ul>
        <% if (loggedIn) { %>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/favourites">Favourites</a></li>
            <li><a href="/account" class="active">Account</a></li>
            <li><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/browse">Browse Pets</a></li>
                <li><a href="/login">Favourites</a></li>
                <li><a href="/login">Login</a></li>
                <% } %>
        </ul>
    </nav>
  </header>
  
  <main>
    <section>
      <div class="container">
      <div>
        <h1>Looking for a pet to adopt?</h1>
        <p>Are you loooking for a furry friend to play with, cuddle and give all your love to? Don't hessitate to adopt one of these lovely pets.</p>
        <a href="#">Browse pets</a>
      </div>
      <div>
        <img src="/static/images/homepage-dog.png" alt="Dog">
      </div>
    </div>
    </section>
    
      <section> 
        <div class="container">
          <h2>What pet are you looking for?</h2>
          <div class="cards">
      
            <div class="card">
              <div class="image-container">
                <img src="/static/images/dog.png" alt="Dog">
              </div>
              <div class="card-title">Dogs</div>
            </div>
      
            <div class="card">
              <div class="image-container">
                <img src="/static/images/cat.png" alt="Cat">
              </div>
              <div class="card-title">Cats</div>
            </div>
      
            <div class="card">
              <div class="image-container">
                <img src="/static/images/rodent.png" alt="Rodent">
              </div>
              <div class="card-title">Rodents</div>
            </div>
      
          </div>
        </div>
      </section> 

      <section>
        <div class="container">
          <div>
          <h2>Why adopt a pet?</h2>
          <p>Adopting a pet means giving an animal a second chance at a happy life. Every year, thousands of loving pets end up in shelters, waiting for someone to take them home. By choosing adoption, you're not only gaining a loyal friend—you’re also helping reduce the number of animals in shelters and supporting a more humane world. Whether you’re looking for a playful pup, a gentle cat, or a small companion, your perfect match could be waiting for you. Adopt, and make a difference.</p>
          <button>Browse pets</button>
        </div>
        <div>
          <img src="/static/images/pets.jpg" alt="Dog">
        </div>
      </div>
      </section>

      <section>
        <div class="container">
          <h2>Recently uploaded pets</h2>
      </div>
      </section>

  </main>

  <footer>
    <div class="container">
      <ul>
        <div class="logo">
          <svg height="100px" width="100px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
     viewBox="0 0 48.839 48.839" xml:space="preserve">
  <g>
    <path fill="var(--color-primary)" d="M39.041,36.843c2.054,3.234,3.022,4.951,3.022,6.742c0,3.537-2.627,5.252-6.166,5.252
      c-1.56,0-2.567-0.002-5.112-1.326c0,0-1.649-1.509-5.508-1.354c-3.895-0.154-5.545,1.373-5.545,1.373
      c-2.545,1.323-3.516,1.309-5.074,1.309c-3.539,0-6.168-1.713-6.168-5.252c0-1.791,0.971-3.506,3.024-6.742
      c0,0,3.881-6.445,7.244-9.477c2.43-2.188,5.973-2.18,5.973-2.18h1.093v-0.001c0,0,3.698-0.009,5.976,2.181
      C35.059,30.51,39.041,36.844,39.041,36.843z M16.631,20.878c3.7,0,6.699-4.674,6.699-10.439S20.331,0,16.631,0
      S9.932,4.674,9.932,10.439S12.931,20.878,16.631,20.878z M10.211,30.988c2.727-1.259,3.349-5.723,1.388-9.971
      s-5.761-6.672-8.488-5.414s-3.348,5.723-1.388,9.971C3.684,29.822,7.484,32.245,10.211,30.988z M32.206,20.878
      c3.7,0,6.7-4.674,6.7-10.439S35.906,0,32.206,0s-6.699,4.674-6.699,10.439C25.507,16.204,28.506,20.878,32.206,20.878z
       M45.727,15.602c-2.728-1.259-6.527,1.165-8.488,5.414s-1.339,8.713,1.389,9.972c2.728,1.258,6.527-1.166,8.488-5.414
      S48.455,16.861,45.727,15.602z"/>
  </g>
  </svg>
          <p>PetMatch</p>
        </div>
      </ul>

      <ul>
        <li><a href="#">Pets</a></li>
        <li><a href="#">Dogs</a></li>
        <li><a href="#">Cats</a></li>
        <li><a href="#">Rabbits</a></li>
      </ul>

      <ul>
        <li><a href="#">Account</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Forgot your password</a></li>
      </ul>

      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Wibautstraat 100</a></li>
        <li><a href="#">1018 FH </a></li>
        <li><a href="#">Amsterdam</a></li>
      </ul>
    </div>
  </footer>
    <script src="/static/scripts/index.js" defer></script>
</body>
</html>