<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/homeStyling.css">
    <title>PetMatch | Home</title>
</head>
<body>
    <header>
    <h1>PetMatch</h1>
    <nav>
      <a href="/" class="active">Home</a>
      <a href="/browse">Browse</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </nav>
  </header>
  <main>
    <section>
      <div class="text-box">
        <h2>Search profile</h2>
        <p>At PetMatch, we simplify pet adoption by connecting you with your ideal furry friend through a smart, personalized platform. Together, we create joyful, lasting relationships while giving shelter animals the loving homes they deserve.</p>
        <p>Discover your ideal pet companion through our matching algorithm that considers your lifestyle and preferences to find the perfect match for you.</p>
        <a href="">Get started</a>
      </div>
     <img src="static/photos/catenhondhome.jpeg" alt="Cat and dog in grass">
    </section>
  <!--  <p>
        <%= userID %>
    </p> --> 
  </main>
  <footer>

  </footer>
    
</body>
</html>