<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/loginstyle.css" rel="stylesheet" type="text/css">
    <title>PetThing | Sign Up</title>
</head>
<body id="loginPage">
    <h1>LOGIN</h1>
=======

    <link rel="stylesheet" href="/static/css/style.css">

    <title>PetThing | Login</title>
</head>
<body id="loginPage">
    <header>
    <h1>PetThing</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/browse">Browse</a>
      <a href="/login" class="active">Login</a>
      <a href="/register">Register</a>
    </nav>
  </header>
   


    <button name="backButton" onclick="history.back()">Go back</button>

    <form method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" placeholder="Button" value="Login">
    </form>
    <a href="/register">I don't have an account yet</a>
    <hr>
    <a href="/passwordchange">Forgot password?</a>

</body>
</html>