<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/style.css">

    <title>PetThing | Login</title>
</head>
<body>
    <header>
    <h1>PetThing</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/browse">Browse</a>
      <a href="/login" class="active">Login</a>
      <a href="/register">Register</a>
    </nav>
  </header>
   
<form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button>Login</button>
</form>

<a href="/register">I don't have an account yet</a>


    
</body>
</html>

