<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/loginstyle.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/browseStyling.css">
  <title>PetMatch | Change Password</title>
</head>

<body>
  <%- include('partials/header') %>

    <section id="passwordPage" class="toggle-section">

      <form action="/passwordchange" method="POST">
        <button type="button" name="backButton" onclick="history.back()">Go back</button>
        <h1 style="margin-top: 7rem;">PASSWORD CHANGE</h1>
        <% if (emailError) { %>
          <p id="errorMessage">
            <%= emailError %>
          </p>
          <% } %>
            <% if (passwordError) { %>
              <p id="errorMessage">
                <%= passwordError %>
              </p>
              <% } %>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password_new" placeholder="New password">
                <input type="password" name="password_confirm" placeholder="Confirm password">
                <input type="submit" value="Change">
      </form>
    </section>

    <%- include('partials/footer') %>
</body>

</html>