<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/browseStyling.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="/static/css/loginstyle.css" rel="stylesheet" type="text/css">
    <title>PetThing | Change Password</title>
</head>
<body>
    <header id="navLogin">
        <h1>PetThing</h1>
        <nav>
            <a href="/browse">Browse Pets</a>
            <a href="/login">Login</a>
        </nav>
    </header>

    <section id="passwordPage" class="toggle-section">

        <form action="/passwordchange" method="POST">
            <button type="button" name="backButton" onclick="history.back()">ᐸ</button>
            <h1>PASSWORD CHANGE</h1>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password_new" placeholder="New password">
            <input type="password" name="password_confirm" placeholder="Confirm password">
            <input type="submit" value="Change">
        </form>
    </section>
</body>
</html>