<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/style.css">

    <title>PetMatch| Sign Up</title>
</head>
<body>
    <header>
    <h1>PetMatch</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/browse">Browse</a>
      <a href="/login">Login</a>
      <a href="/register" class="active">Register</a>
    </nav>
  </header>
   
<form action="/login" method="POST">
    <input type="text" name="firstName" placeholder="First name">
    <input type="text" name="lastName" placeholder="Last name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button>Sign up</button>
</form>

<a href="/login">I already have an account</a>


    
</body>
</html>

